{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Thanh toán{% endblock %}
{% block checkout %}
<!-- BREADCRUMB -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-grid gap-2 d-md-flex">
                    <a href="{% url 'orders:cart' %}" class="btn btn-danger me-md-2" role="button">&#x2190; Quay về giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <form method="post" action="{% url 'orders:checkout' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-7 col-lg-8 col-12">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Địa chỉ thanh toán</h3>
                        </div>
                        <div class="form-group mb-3">
                            <input class="input" type="text" name="first-name" placeholder="Họ" required>
                        </div>
                        <div class="form-group mb-3">
                            <input class="input" type="text" name="last-name" placeholder="Tên" required>
                        </div>
                        <div class="form-group mb-3">
                            <input class="input" type="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group mb-3">
                            <input class="input" type="text" name="address" placeholder="Địa chỉ" required>
                        </div>
                        <div class="form-group mb-3">
                            <input class="input" type="text" name="city" placeholder="Thành phố" required>
                        </div>
                        <div class="form-group mb-3">
                            <input class="input" type="tel" name="tel" placeholder="Điện thoại" required>
                        </div>
                    </div>
                    <!-- /Billing Details -->

                    <!-- Shipping Details -->
                    <div class="shipping-details">
                        <div class="section-title">
                            <h3 class="title">ĐỊA CHỈ GIAO HÀNG</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shipping-address">
                            <label for="shipping-address">
                                <span></span>
                                Gửi hàng đến một địa chỉ khác?
                            </label>
                            <div class="caption">
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping-first-name" placeholder="Họ">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping-last-name" placeholder="Tên">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="email" name="shipping-email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping-address" placeholder="Địa chỉ">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="shipping-city" placeholder="Thành phố">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="tel" name="shipping-tel" placeholder="Điện thoại">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Shipping Details -->

                    <!-- Order notes -->
                    <div class="order-notes">
                        <textarea class="input" name="order-notes" placeholder="Ghi chú..."></textarea>
                    </div>
                    <!-- /Order notes -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details col-lg-4 col-12">
                    <div class="section-title text-center">
                        <h3 class="title">ĐƠN HÀNG CỦA BẠN</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Sản phẩm</strong></div>
                            <div><strong>Giá tiền</strong></div>
                        </div>
                        <div class="order-products">
                            {% for item in items %}
                            <div class="order-col">
                                <div>{{ item.quantity }}x {{ item.product.name|slice:":15" }}{% if item.product.name|length > 15 %}...{% endif %}</div>
                                <div>{{ item.get_total|currency }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="order-col">
                            <div>Phí vận chuyển</div>
                            <div><strong>Miễn phí</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>Tổng tiền</strong></div>
                            <div><strong class="order-total">{{ order.get_total_money|currency }}</strong></div>
                        </div>
                    </div>
                    <div class="payment-method">
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-1" value="bank_transfer" required>
                            <label for="payment-1">
                                <span></span>
                                Chuyển khoản ngân hàng
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-2" value="cheque" required>
                            <label for="payment-2">
                                <span></span>
                                Ví điện tử
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-3" value="paypal" required>
                            <label for="payment-3">
                                <span></span>
                                Paypal
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="input-radio">
                            <input type="radio" name="payment" id="payment-4" value="cash" required>
                            <label for="payment-4">
                                <span></span>
                                Tiền mặt
                            </label>
                            <div class="caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">
                            <span></span>
                            Tôi đã đọc và chấp nhận các <a href="#">điều khoản & điều kiện</a>
                        </label>
                    </div>
                    <button type="submit" class="primary-btn order-submit">ĐẶT HÀNG</button>
                </div>
                <!-- /Order Details -->
            </div>
            </form>
        </div>
    </div>
</div>
<!-- /SECTION -->
{% endblock checkout %}
