{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Product List{% endblock %}
{% block product_list %}
{% include 'slide.html' %}
<!-- SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Danh mục</h3>
                    <form id="filter-form" method="get" action="{% url 'products:product_list' %}">
                        <div class="checkbox-filter">
                            {% for category in categories %}
                            <div class="input-checkbox">
                                <input type="checkbox" id="category-{{ forloop.counter }}" name="category" value="{{ category.id }}" {% if category.id|stringformat:"s" in request.GET.category %}checked{% endif %}>
                                <label for="category-{{ forloop.counter }}">
                                    <span></span>
                                    {{ category.name }}
                                    <small>({{ category.products.count }})</small>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Giá</h3>
                    <div class="price-filter">
                        <div id="price-slider"></div>
                        <div class="input-number price-min">
                            <input id="price-min" type="number" name="min_price" value="{{ request.GET.min_price }}">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                        <div class="input-number price-max">
                            <input id="price-max" type="number" name="max_price" value="{{ request.GET.max_price }}">
                            <span class="qty-up">+</span>
                            <span class="qty-down">-</span>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Thương hiệu</h3>
                    <div class="checkbox-filter">
                        {% for brand in brands %}
                        <div class="input-checkbox">
                            <input type="checkbox" id="brand-{{ forloop.counter }}" name="brand" value="{{ brand.id }}" {% if brand.id|stringformat:"s" in request.GET.brand %}checked{% endif %}>
                            <label for="brand-{{ forloop.counter }}">
                                <span></span>
                                {{ brand.name }}
                                <small>({{ brand.product_count }})</small>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- /aside Widget -->
                <button type="submit" class="primary-btn">Lọc</button>
                </form>
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Bán chạy</h3>
                    {% for product in top_selling_products %}
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="{{ product.ImageURL }}" alt="{{ product.name }}">
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{ product.category }}</p>
                            <h3 class="product-name"><a href="{% url 'products:product_detail' product.slug %}">{{ product.name|slice:":40" }}{% if product.name|length > 40 %}...{% endif %}</a></h3>
                            {% if product.promotion %}
                                <h4 class="product-price">{{ product.price_after_discount|currency }}₫  <del class="product-old-price">{{ product.price|currency }}₫</del></h4>
                            {% else %}
                                <h4 class="product-price">{{ product.price|currency }}₫</h4>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                    <form id="sort-form" method="get" action="{% url 'products:product_list' %}">
                        <label>
                            Sắp xếp:
                            <select class="input-select" name="sort_by">
                                <option value="price_asc" {% if request.GET.sort_by == 'price_asc' %}selected{% endif %}>Giá tăng dần</option>
                                <option value="price_desc" {% if request.GET.sort_by == 'price_desc' %}selected{% endif %}>Giá giảm dần</option>
                            </select>
                        </label>

                        <label>
                            Hiển thị:
                            <select class="input-select" name="items_per_page">
                                <option value="10" {% if request.GET.items_per_page == '10' %}selected{% endif %}>10</option>
                                <option value="20" {% if request.GET.items_per_page == '20' %}selected{% endif %}>20</option>
                            </select>
                        </label>
                    </form>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                    <div id="product-list-container">
                        {% include 'products/product_list_content.html' %}
                    </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Hiển thị 20-100 sản phẩm</span>
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
        </div>
            <!-- /STORE -->
    </div>
</div>
</div>
<!-- /SECTION -->
<!-- NEWSLETTER -->
{% include 'newsletter.html' %}
<!-- /NEWSLETTER -->
{% endblock product_list %}
{% block extra_scripts %}
<script src="{% static 'js/nani.js' %}"></script>
<script>
    function bindPaginationLinks() {
        $('.store-pagination').on('click', 'a', function(event) {
            event.preventDefault();
            var page = $(this).data('page');
            $.ajax({
                url: $(this).attr('href'),
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $('#product-list-container').html(data.products_html);
                    $('.store-pagination').html(data.pagination_html);
                    $('.store-qty').text('Showing ' + data.start_index + '-' + data.end_index + ' of ' + data.total_count + ' products');
                    bindPaginationLinks(); // Gắn lại sự kiện sau khi nội dung được cập nhật
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
    }

    $(document).ready(function() {
        bindPaginationLinks(); // Gắn sự kiện khi trang được tải lần đầu
    });
</script>
{% endblock %}