{% load static %}
{% load custom_filters %}
<header>
    <!-- TOP HEADER -->
    <div id="top-header" class="bg-dark text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <ul class="header-links d-flex list-unstyled">
                        <li class="me-3"><a href="#"><i class="fa fa-phone"></i> 963245654</a></li>
                        <li class="me-3"><a href="#"><i class="fa fa-envelope-o"></i> Nanishop@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i> Thuận An, Bình Dương</a></li>
                    </ul>
                </div>
                <div class="col-md-2 text-end">
                    <ul class="header-links d-flex list-unstyled">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}"><i class="fa fa-user-o"></i>Xin chào, {{ user }}</a></li>
                            <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                            <li><a href="{% url 'register' %}">Đăng ký</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /TOP HEADER -->
    <!-- MAIN HEADER -->
    <div id="header" class="py-3">
        <div class="container">
            <div class="row align-items-center">
                <!-- LOGO -->
                <div class="col-lg-3 col-12 mb-3">
                    <div class="header-logo">
                        <a href="{% url 'index' %}" class="logo">
                            <img src="{% static 'images/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-lg-6 col-12 mb-3">
                    <div class="header-search">
                        <form class="d-flex" method="get" action="{% url 'products:product_search' %}">
                            <input class="form-control ms-2 input" name="q" placeholder="Bạn tìm gì?..." required>
                            <button class="btn btn-primary search-btn" type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-lg-3 col-12 mb-3 d-flex justify-content-md-center">
                    <div class="header-ctn d-flex justify-content-end">
                        {% if user.is_authenticated %}
                            <!-- Wishlist -->
                            <div class="me-3">
                                <a href="{% url 'favorite_list' %}">
                                    <i class="fa fa-heart-o"></i>
                                    {% if user.is_authenticated %}
                                    <span>Yêu thích</span>
                                    <div class="qty">{{ user.customer.favorite_products.count }}</div>
                                    {% endif %}
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="qty cart-total-items">{{ order.get_cart_items }}</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        {% for item in items %}
                                        <div class="product-widget" data-product="{{ item.product.id }}">
                                            <div class="product-img">
                                                <img src="{{item.product.ImageURL}}" alt="{{ item.product.name }}">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="{% url 'products:product_detail' item.product.slug %}">{{ item.product.name|slice:":20" }}{% if product.name|length > 20 %}...{% endif %}</a></h3>
                                                <h4 class="product-price text-danger"><span class="qty text-dark item-quantity">{{ item.quantity }}x</span>{{ item.product.price_after_discount|currency }} ₫</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="cart-summary">
                                        <small>{{order.get_cart_items}} Sản phẩm</small>
                                        <h5>Tổng tiền: <span class="text-danger total-money">{{order.get_total_money|currency}} ₫</span></h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="{% url 'orders:cart' %}">Giỏ hàng</a>
                                        <a href="{% url 'orders:checkout' %}">Thanh toán  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                        {% else %}
                            <!-- Wishlist -->
                            <div class="me-3">
                                <a href="#" class="show-login-modal">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Yêu thích</span>
                                    <div class="qty">0</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->

                            <!-- Cart -->
                            <div class="dropdown">
                                <a href="#" class="show-login-modal">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ hàng</span>
                                    <div class="qty">0</div>
                                </a>
                            </div>
                            <!-- /Cart -->
                        {% endif %}

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->

                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
        </div>
    </div>
    <!-- /MAIN HEADER -->
</header>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn cần phải đăng nhập để sử dụng tính năng này.
      </div>
      <div class="modal-footer">
        <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
        <a href="{% url 'register' %}" class="btn btn-secondary">Đăng ký</a>
      </div>
    </div>
  </div>
</div>
