{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}NaniShop - giá rẻ bất ngờ{% endblock %}
{% block index %}
	{% include 'slide.html' %}
	<!-- SECTION -->
	<div class="section">
		<div class="container">
			<div class="row">
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="{% static 'images/shop01.png' %}" alt="">
						</div>
						<div class="shop-body">
							<h3>Laptop<br>Collection</h3>
							<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="{% static 'images/shop03.png' %}" alt="">
						</div>
						<div class="shop-body">
							<h3>Accessories<br>Collection</h3>
							<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="{% static 'images/shop02.png' %}" alt="">
						</div>
						<div class="shop-body">
							<h3>Cameras<br>Collection</h3>
							<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
			</div>
		</div>
	</div>
	<!-- /SECTION -->

	{% for category in categories %}
	<!-- SECTION -->
	<div class="section">
		<div class="container">
			<div class="row">
				<!-- Section title -->
				<div class="col-md-12">
					<div class="section-title">
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav nav nav-tabs" role="tablist">
								<li class="">
									<a class="" id="{{ category.slug }}-tab{{ forloop.counter }}" data-toggle="tab" href="#tab{{ forloop.counter }}" role="tab" aria-controls="tab{{ forloop.counter }}" aria-selected="false"><h3>{{ category.name }}</h3></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Section title -->
				
				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs tab-content">
							{% with products=products_by_category|get_item:category.slug %}
							<!-- tab {{ forloop.counter }} -->
							<div id="tab{{ forloop.counter }}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ category.slug }}-tab{{ forloop.counter }}">
								<div class="products-slick" id="slick{{ forloop.counter }}" data-nav="#slick-nav-{{ forloop.counter }}">
									<!-- product -->
									{% for product in products %}
									<div class="col-md-3 col-xs-6">
										<div class="product">
											<div class="product-img">
												<img src="{{ product.image.url }}" alt="{{ product.name }}">
												<div class="product-label">
													{% if product.promotion %}
														<span class="sale">-{{ product.promotion_discount }}%</span>
													{% endif %}
													{% if product.new %}
														<span class="new">NEW</span>
													{% endif %}
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{ product.category.name }}</p>
												<h3 class="product-name"><a href="{% url 'products:product_detail' product.slug %}">{{ product.name|slice:":40" }}{% if product.name|length > 40 %}...{% endif %}</a></h3>
												{% if product.promotion %}
													<h4 class="product-price">{{ product.price_after_discount|currency }}₫ <del class="product-old-price">{{ product.price|currency }}₫</del></h4>
												{% else %}
													<h4 class="product-price">{{ product.price|currency }}₫</h4>
												{% endif %}
												<div class="product-rating">
													{% for i in "12345" %}
														<i class="fa fa-star{% if product.rating < i %}-o{% endif %}"></i>
													{% endfor %}
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
									</div>
									{% endfor %}
									<!-- /product -->
								</div>
								<div id="slick-nav-{{ forloop.counter }}" class="products-slick-nav"></div>
							</div>
							<!-- /tab {{ forloop.counter }} -->
							{% endwith %}
						</div>
					</div>
				</div>
				<!-- /Products tab & slick -->
			</div>
		</div>
	</div>
	<!-- /SECTION -->
	{% endfor %}
	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3 id="days">02</h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="hours">10</h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="minutes">34</h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3 id="seconds">60</h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">ƯU ĐÃI HẤP DẪN TUẦN NÀY</h2>
						<p>BỘ SƯU TẬP MỚI GIẢM GIÁ TỚI 30%</p>
						<a class="primary-btn cta-btn" href="{% url 'products:product_list' %}">Mua ngay</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->
    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Sản phẩm nổi bật</h3>
                        <div class="section-nav float-end">
                            <ul class="section-tab-nav tab-nav nav nav-tabs" role="tablist">
                                {% for category in categories %}
                                <li class="nav-item">
                                    <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ category.slug }}-tab{{ forloop.counter|add:4 }}" data-bs-toggle="tab{{ forloop.counter|add:4 }}" href="#tab{{ forloop.counter|add:4 }}" role="tab{{ forloop.counter|add:4 }}" aria-controls="tab{{ forloop.counter|add:4 }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs tab-content">
                            {% for category in categories %}
                            {% with products=products_by_top_selling|get_item:category.slug %}
                            <!-- tab {{ forloop.counter|add:4 }} -->
                            <div id="tab{{ forloop.counter|add:4 }}" class="tab-pane fade {% if forloop.first %}show active{% endif %}" role="tabpane{{ forloop.counter|add:4 }}" aria-labelledby="{{ category.slug }}-tab{{ forloop.counter|add:4 }}">
                                <div class="products-slick" id="slick{{ forloop.counter|add:4 }}" data-nav="#slick-nav-{{ forloop.counter|add:4 }}">
                                    <!-- product -->
                                    {% for product in products %}
                                    <div class="col-md-3 col-xs-6">
                                        <div class="product">
                                            <div class="product-img">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                                <div class="product-label">
                                                    {% if product.promotion %}
                                                        <span class="sale">-{{ product.promotion_discount }}%</span>
                                                    {% endif %}
                                                    {% if product.new %}
                                                        <span class="new">NEW</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category.name }}</p>
                                                <h3 class="product-name"><a href="{% url 'products:product_detail' product.slug %}">{{ product.name|slice:":40" }}{% if product.name|length > 40 %}...{% endif %}</a></h3>
                                                {% if product.promotion %}
                                                    <h4 class="product-price">{{ product.price_after_discount|currency }}₫ <del class="product-old-price">{{ product.price|currency }}₫</del></h4>
                                                {% else %}
                                                    <h4 class="product-price">{{ product.price|currency }}₫</h4>
                                                {% endif %}
                                                <div class="product-rating">
                                                    {% for i in "12345" %}
                                                        <i class="fa fa-star{% if product.rating < i %}-o{% endif %}"></i>
                                                    {% endfor %}
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- /product -->
                                </div>
                                <div id="slick-nav-{{ forloop.counter|add:4 }}" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab {{ forloop.counter|add:4 }} -->
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- /Products tab & slick -->
            </div>
        </div>
    </div>
	<!-- /SECTION -->
{% endblock index %}
{% block extra_scripts %}
<script type="text/javascript">
var countDownDate = new Date("Jun 26, 2025 15:37:25").getTime();

var countdownFunction = setInterval(function() {

	var now = new Date().getTime();

	var distance = countDownDate - now;

	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	document.getElementById("days").innerHTML = days;
	document.getElementById("hours").innerHTML = hours;
	document.getElementById("minutes").innerHTML = minutes;
	document.getElementById("seconds").innerHTML = seconds;

	if (distance < 0) {
		clearInterval(countdownFunction);
		document.querySelector(".hot-deal").innerHTML = "<h2 class='text-uppercase'>The deal has ended</h2>";
	}
}, 1000);
</script>
{% endblock %}