<!-- templates/customers/change_password.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Đổi mật khẩu{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Đổi mật khẩu</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
